.env
node_modules
package-lock.json

backend/dist
backend/node_modules
backend/.env
backend/prisma/generate
backend/prisma/migrations

.DS_Store
backend/.DS_Store
frontend/.DS_Store

.postman
ppt_html
postman/collections
