.sidebar {
  width: 220px;
  height: 100vh;
  background: #0f172a;
  color: white;
  padding: 20px;
  position: fixed;
}

.logo {
  cursor: pointer;
  margin-bottom: 30px;
}

.menu div {
  margin: 15px 0;
  cursor: pointer;
}

.menu div:hover {
  color: #38bdf8;
}