version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password1234
      POSTGRES_DB: notification_service
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: api
    depends_on:
      - postgres
      - redis
    environment:
      DATABASE_URL: postgresql://postgres:password1234@postgres:5432/notification_service
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - "3000:3000"
    command: node dist/main.js

  worker:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: worker
    depends_on:
      - postgres
      - redis
    environment:
      DATABASE_URL: postgresql://postgres:password1234@postgres:5432/notification_service
      REDIS_HOST: redis
      REDIS_PORT: 6379
    command: node dist/worker.js

volumes:
  postgres_data: